name: Perl CI

on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"
  pull_request:

jobs:
  perl:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        perl-version:
          - '5.10'
          - '5.16'
          - 'latest'
          - 'threaded'

    container:
      image: perl:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@v2
      - name: perl -V
        uses:
            perl -V

      - name: install cpm and multiple modules
        uses: perl-actions/install-with-cpm@stable
        with:
          install: |
            Simple::Accessor
            Test::Parallel